---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&q=%2522open%2520data%2522&result_type=recent
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<CONSUMER_KEY>", oauth_nonce="f10c78aafdd7893de75cd70d9099c683",
        oauth_signature="Y9YmGMKrLS3mccIu3%2Bjoer6qCMA%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1440602825", oauth_token="<TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Wed, 26 Aug 2015 15:27:05 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - a5d173e44c50a9d17586f1f2bd2ad92c
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '175'
      X-Rate-Limit-Reset:
      - '1440602885'
      X-Response-Time:
      - '353'
      X-Transaction:
      - c1f47cdb8ce1e7ba
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"statuses":[{"metadata":{"iso_language_code":"en","result_type":"recent"},"created_at":"Wed
        Aug 26 15:26:43 +0000 2015","id":636560412666908672,"id_str":"636560412666908672","text":"Open
        Sesame! The Risks and Rewards of Open Data for Researchers http:\/\/t.co\/xD43dziG1v","source":"\u003ca
        href=\"http:\/\/twitter.com\" rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":283288495,"id_str":"283288495","name":"Israel","screen_name":"Israb12","location":"Located
        at 2.6\u00b0 S, 29.7\u00b0 E","description":"Euphoric! Chairperson of AfRO
        & Member of Executive Committee @IPSForg","url":"http:\/\/t.co\/fZM2TXWzbV","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/fZM2TXWzbV","expanded_url":"http:\/\/www.israb12.wordpress.com","display_url":"israb12.wordpress.com","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":1592,"friends_count":491,"listed_count":12,"created_at":"Sun
        Apr 17 00:33:32 +0000 2011","favourites_count":223,"utc_offset":7200,"time_zone":"Cairo","geo_enabled":true,"verified":false,"statuses_count":16674,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"022330","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/378800000072638178\/f54496683f6e9698ea16fe51fe386903.jpeg","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/378800000072638178\/f54496683f6e9698ea16fe51fe386903.jpeg","profile_background_tile":true,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/633639293957898240\/0x-2RwTQ_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/633639293957898240\/0x-2RwTQ_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/283288495\/1432574031","profile_link_color":"0084B4","profile_sidebar_border_color":"FFFFFF","profile_sidebar_fill_color":"C0DFEC","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"http:\/\/t.co\/xD43dziG1v","expanded_url":"http:\/\/www.digital-science.com\/blog\/guest\/open-sesame-the-risks-and-rewards-of-open-data-for-researchers\/","display_url":"digital-science.com\/blog\/guest\/ope\u2026","indices":[64,86]}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},{"metadata":{"iso_language_code":"en","result_type":"recent"},"created_at":"Wed
        Aug 26 15:26:24 +0000 2015","id":636560332987727872,"id_str":"636560332987727872","text":"RT
        @globalforests: 3 Ways Open Data Can Help Forests http:\/\/t.co\/czDfHZGbRI
        #opendata #bigdata #forests http:\/\/t.co\/RCRmHkYd17","source":"\u003ca href=\"http:\/\/twitter.com\"
        rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","truncated":false,"in_reply_to_status_id[...]
