---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&q=%2522open%2520data%2522&result_type=recent
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<CONSUMER_KEY>", oauth_nonce="511be973de2bb9bbcf9f877eb714a53d",
        oauth_signature="9ZEPpndRirjFRPC%2BFJ1M%2FphJcfU%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1439734206", oauth_token="<TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 16 Aug 2015 14:10:06 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 56b040978ef87170b34808c949acc0ce
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '169'
      X-Rate-Limit-Reset:
      - '1439734315'
      X-Response-Time:
      - '253'
      X-Transaction:
      - 2cb5592ea39028af
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"statuses":[{"metadata":{"iso_language_code":"en","result_type":"recent"},"created_at":"Sun
        Aug 16 14:07:11 +0000 2015","id":632916518012100608,"id_str":"632916518012100608","text":"Nepal
        earthquake: How Taylor Swift and social media helped the Nepalese to help
        ... http:\/\/t.co\/H33UrbOopY","source":"\u003ca href=\"http:\/\/ifttt.com\"
        rel=\"nofollow\"\u003eIFTTT\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":2737029641,"id_str":"2737029641","name":"Update:
        Earthquakes","screen_name":"Earthquake_rt","location":"World Earthquakes","description":"Follow
        For Real Time Earthquakes !\r\nWe Retweet All Around The World. #Nepal #USGS
        #Quake #Japan #Today #QuakeBot!","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":64,"friends_count":95,"listed_count":31,"created_at":"Fri
        Aug 08 08:05:30 +0000 2014","favourites_count":1,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":19008,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/614312970449997824\/uJ6ta4SK_normal.png","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/614312970449997824\/uJ6ta4SK_normal.png","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"http:\/\/t.co\/H33UrbOopY","expanded_url":"http:\/\/www.snsanalytics.com\/9y4Vy6","display_url":"snsanalytics.com\/9y4Vy6","indices":[84,106]}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},{"metadata":{"iso_language_code":"en","result_type":"recent"},"created_at":"Sun
        Aug 16 14:06:38 +0000 2015","id":632916379830763520,"id_str":"632916379830763520","text":"Nepal
        earthquake: How Taylor Swift and social media helped the Nepalese to help
        ... http:\/\/t.co\/R8KrBGeVg9","source":"\u003ca href=\"http:\/\/pikesley.org\"
        rel=\"nofollow\"\u003eSamReadWriteBot\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_statu[...]
