---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&q=%2522open%2520data%2522&result_type=recent
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<CONSUMER_KEY>", oauth_nonce="ac748213caa1c1cf4dab36c16f9494a5",
        oauth_signature="99RD33II11gIbpM%2Bj3IXhgHcP30%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1440450296", oauth_token="<TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Mon, 24 Aug 2015 21:04:57 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - a0789c72d7310a7f500d5c94defa0dce
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '178'
      X-Rate-Limit-Reset:
      - '1440451196'
      X-Response-Time:
      - '368'
      X-Transaction:
      - 945f16099637aafe
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"statuses":[{"metadata":{"iso_language_code":"es","result_type":"recent"},"created_at":"Mon
        Aug 24 21:01:44 +0000 2015","id":635919944295804933,"id_str":"635919944295804933","text":"\u00bfTe
        gusta trabajar con datos abiertos? Mira el cat\u00e1logo de Open Data del
        @ctransparencia a tu disposici\u00f3n: http:\/\/t.co\/u9gq7xMvVG","source":"\u003ca
        href=\"http:\/\/www.hootsuite.com\" rel=\"nofollow\"\u003eHootsuite\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":79182108,"id_str":"79182108","name":"ConsejoTransparencia","screen_name":"ctransparencia","location":"","description":"Que
        no te nieguen el acceso a la informaci\u00f3n. La informaci\u00f3n de los
        organismos del Estado es p\u00fablica. Cuenta del Consejo Para la Transparencia","url":"http:\/\/t.co\/iPeYN5DZWP","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/iPeYN5DZWP","expanded_url":"http:\/\/www.consejotransparencia.cl","display_url":"consejotransparencia.cl","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":10080,"friends_count":5120,"listed_count":168,"created_at":"Fri
        Oct 02 13:36:36 +0000 2009","favourites_count":24,"utc_offset":-10800,"time_zone":"Santiago","geo_enabled":true,"verified":false,"statuses_count":3985,"lang":"es","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/126037986\/consejotwitter.jpg","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/126037986\/consejotwitter.jpg","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/476851317768335360\/ckqP7K3K_normal.jpeg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/476851317768335360\/ckqP7K3K_normal.jpeg","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"ctransparencia","name":"ConsejoTransparencia","id":79182108,"id_str":"79182108","indices":[73,88]}],"urls":[{"url":"http:\/\/t.co\/u9gq7xMvVG","expanded_url":"http:\/\/bit.ly\/1foQiCL","display_url":"bit.ly\/1foQiCL","indices":[107,129]}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"es"},{"metadata":{"iso_language_code":"en","result_type":"recent"},"created_at":"Mon
        Aug 24 21:01:34 +0000 2015","id":635919901971058688,"id_str":"635919901971058688","text":"RT
        @thomsonreuters: How #opendata will be instrumental to feeding more people
        (http:\/\/t.co\/MwmlnWqmGa) @scienceatusda #9BillionBowls http:\/\u2026","source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/iphone\" rel=\"nofollow\"\u003eTwitter
        for iPhone\u003c\/a\u003[...]
