---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&q=%2522open%2520data%2522&result_type=recent
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<CONSUMER_KEY>", oauth_nonce="b159a049a09321ca1a31f4fcca2eb1ad",
        oauth_signature="zycT1QRDMpC977i6BhrhrX4zBDU%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1440007442", oauth_token="<TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Wed, 19 Aug 2015 18:04:03 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - b0d1407dcc30260b262c02df8937826b
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '179'
      X-Rate-Limit-Reset:
      - '1440008343'
      X-Response-Time:
      - '382'
      X-Transaction:
      - 87a95d29b610193f
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"statuses":[{"metadata":{"iso_language_code":"en","result_type":"recent"},"created_at":"Wed
        Aug 19 18:02:13 +0000 2015","id":634062827305742338,"id_str":"634062827305742338","text":"RT
        @halttheharm: .@nettiequette @FracTracker @ArcGISOnline open data is a beautiful
        thing!","source":"\u003ca href=\"http:\/\/twitter.com\/download\/iphone\"
        rel=\"nofollow\"\u003eTwitter for iPhone\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":384940624,"id_str":"384940624","name":"Nettie
        of Things","screen_name":"nettiequette","location":"UnDefined xY","description":"Apple
        II Forever \u2022 4-H PSU \u2022 GISP GPSIII \u2022 Technocrat \u2022 Equine
        Tech \u2022 Volunteer @BackMtnTrail @NePA_Alliance | Futurist #OpenData #IoT
        #GypsySoul #GD50","url":"http:\/\/t.co\/BEF4F74ZfP","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/BEF4F74ZfP","expanded_url":"http:\/\/www.nettiequette.com","display_url":"nettiequette.com","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":784,"friends_count":1395,"listed_count":151,"created_at":"Tue
        Oct 04 16:05:27 +0000 2011","favourites_count":5415,"utc_offset":-14400,"time_zone":"Eastern
        Time (US & Canada)","geo_enabled":true,"verified":false,"statuses_count":2775,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"89C9FA","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/378800000152445767\/8oZPyS4Q.jpeg","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/378800000152445767\/8oZPyS4Q.jpeg","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/629320396328857600\/dPVbrqhK_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/629320396328857600\/dPVbrqhK_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/384940624\/1438822628","profile_link_color":"DD2E44","profile_sidebar_border_color":"FFFFFF","profile_sidebar_fill_color":"E3E2DE","profile_text_color":"634047","profile_use_background_image":true,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"metadata":{"iso_language_code":"en","result_type":"recent"},"created_at":"Wed
        Aug 19 18:01:08 +0000 2015","id":634062557246943233,"id_str":"634062557246943233","text":".@nettiequette
        @FracTracker @ArcGISOnline open data is a beautiful thing!","source":"\u003ca
        href=\"http:\/\/twitter.com\" rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":634061341377097728,"in_reply_to_status_id_str":"634061341377097728","in_reply_to_use[...]
