---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&q=%2522open%2520data%2522&result_type=recent
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<CONSUMER_KEY>", oauth_nonce="247b0d0da32ab84ddf7ae32e89c3d7ff",
        oauth_signature="aZ3IDM%2FJ28dZZ%2B0wEdVOMERNxBE%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1439656937", oauth_token="<TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sat, 15 Aug 2015 16:42:18 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 941c6db652c8e3d1748f690e9a930f78
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '179'
      X-Rate-Limit-Reset:
      - '1439657837'
      X-Response-Time:
      - '399'
      X-Transaction:
      - 19b1e19657be1aa6
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"statuses":[{"metadata":{"iso_language_code":"en","result_type":"recent"},"created_at":"Sat
        Aug 15 16:40:55 +0000 2015","id":632592818301743109,"id_str":"632592818301743109","text":"RT
        @t_s_institute: Top #MachineLearning Story: Why you should use Taylor Swift
        to hone your machine l\u2026 http:\/\/t.co\/sEYej6yrb0, see more htt\u2026","source":"\u003ca
        href=\"https:\/\/roundteam.co\" rel=\"nofollow\"\u003eRoundTeam\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":2416199407,"id_str":"2416199407","name":"Alex
        Barreto","screen_name":"shakamunyi","location":"Mountain View, CA, USA","description":"OpenStacker,
        Dockerite, Cloud and Data  hands-on SME. Making Open Hybrid Cloud for Data
        Processing a reality since 2007.","url":"http:\/\/t.co\/yHa30LHI7D","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/yHa30LHI7D","expanded_url":"http:\/\/shakamunyi.tumblr.com","display_url":"shakamunyi.tumblr.com","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":968,"friends_count":895,"listed_count":660,"created_at":"Fri
        Mar 28 17:01:44 +0000 2014","favourites_count":1101,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":29473,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/598640478657978368\/PgSHeCsJ_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/598640478657978368\/PgSHeCsJ_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/2416199407\/1423463300","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"metadata":{"iso_language_code":"en","result_type":"recent"},"created_at":"Sat
        Aug 15 16:20:25 +0000 2015","id":632587660507353090,"id_str":"632587660507353090","text":"Top
        #MachineLearning Story: Why you should use Taylor Swift to hone your machine
        l\u2026 http:\/\/t.co\/sEYej6yrb0, see more http:\/\/t.co\/9fu7MkFdh2","source":"\u003ca
        href=\"http:\/\/pikesley.org\" rel=\"nofollow\"\u003eSamReadWriteBot\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":n[...]
