---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&q=%2522open%2520data%2522&result_type=recent
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<CONSUMER_KEY>", oauth_nonce="4057129ad5d95bad3828607f3fa4b13e",
        oauth_signature="oWpCsCBYU07EovKIJFUEuALcubE%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1440426842", oauth_token="<TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Mon, 24 Aug 2015 14:34:02 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 1ffa09bd629bf656789e14d890845dd1
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '179'
      X-Rate-Limit-Reset:
      - '1440427742'
      X-Response-Time:
      - '365'
      X-Transaction:
      - ee44d7e7e09f326e
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"statuses":[{"metadata":{"iso_language_code":"en","result_type":"recent"},"created_at":"Mon
        Aug 24 14:32:31 +0000 2015","id":635821996954251264,"id_str":"635821996954251264","text":"RT
        @ukces: Interested in labour market intelligence, open data, &amp; free careers
        resources? Follow @LMIforAll to find out more &gt; http:\/\/t.co\/\u2026","source":"\u003ca
        href=\"https:\/\/about.twitter.com\/products\/tweetdeck\" rel=\"nofollow\"\u003eTweetDeck\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":1967535163,"id_str":"1967535163","name":"Adam
        Raistrick","screen_name":"AdamRaistrick","location":"","description":"Communications
        Manager at @UKCES. Proud dad, space nerd, geek in many forms.\nAll views are
        mine, anything particularly witty\/funny is probably otherwise...","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":183,"friends_count":413,"listed_count":4,"created_at":"Thu
        Oct 17 20:01:36 +0000 2013","favourites_count":287,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":1084,"lang":"en-gb","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/463813144272334849\/FR0frpip_normal.jpeg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/463813144272334849\/FR0frpip_normal.jpeg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/1967535163\/1399416598","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"metadata":{"iso_language_code":"en","result_type":"recent"},"created_at":"Fri
        Aug 21 11:30:27 +0000 2015","id":634689014407266304,"id_str":"634689014407266304","text":"Interested
        in labour market intelligence, open data, &amp; free careers resources? Follow
        @LMIforAll to find out more &gt; http:\/\/t.co\/s3ysfprBow","source":"\u003ca
        href=\"http:\/\/www.hootsuite.com\" rel=\"nofollow\"\u003eHootsuite\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":24732077,"id_str":"24732077","name":"UKCES","screen_name":"ukces","location":"United
        Kingdom","description":"We work with and through our partners to secure a
        greater commitment to invest in the skills of people.","url":"http:\/\/t.co\/DV4ZxflB26","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/DV4ZxflB26","expanded_url":"http:\/\/www.gov.uk\/ukces","display_url":"gov.uk\/ukces","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":10175,"friends_count":1979,"listed_count":280,"created_at":"Mon
        Mar 16 17:37:37 +0000 2009","favourites_count":1953,"utc_offset":3600,"time_zone":"London","geo_enabled":false,"verified":false,"statuses_count":8972,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"FFFFFF","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/597678924248678400\/M8urPWqW.jpg","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/597678924248678400\/M8urPWqW.jpg","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/494766302326566912\/He8EeH2p_normal.jpeg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/494766302326566912\/He8EeH2p_normal.jpeg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/24732077\/1426005584","profile_link_color":"003479","profile_sidebar_border_color":"FFFFFF","profile_sidebar_fill_color":"EADEAA","profile_text_color":"333333","profile_use_background_image":false,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":5,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"LMIforAll","name":"LMI
        for All","id":972053395,"id_str":"972053395","indices":[90,100]}],"urls":[{"url":"http:\/\/t.co\/s3ysfprBow","expanded_url":"http:\/\/tinyurl.com\/ngtna9j","display_url":"tinyurl.com\/ngtna9j","indices":[123,145]}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},"is_quote_status":false,"retweet_count":5,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"ukces","name":"UKCES","id":24732077,"id_str":"24732077","indices":[3,9]},{"screen_name":"LMIforAll","name":"LMI
        for All","id":972053395,"id_str":"972053395","indices":[101,111]}],"urls":[{"url":"http:\/\/t.co\/s3ysfprBow","expanded_url":"http:\/\/tinyurl.com\/ngtna9j","display_url":"tinyurl.com\/ngtna9j","indices":[134,147]}]},"favorited"[...]
