---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&q=%2522open%2520data%2522&result_type=recent
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<CONSUMER_KEY>", oauth_nonce="95ffea81238566804db742e2631dce6c",
        oauth_signature="YlkjXE4an5QfJcMI%2FDh4xjt6t5E%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1440515285", oauth_token="<TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 25 Aug 2015 15:08:06 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 0532056e2055d26504444b4767121c86
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '179'
      X-Rate-Limit-Reset:
      - '1440516185'
      X-Response-Time:
      - '593'
      X-Transaction:
      - a55653fef87ae384
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"statuses":[{"metadata":{"iso_language_code":"en","result_type":"recent"},"created_at":"Tue
        Aug 25 15:07:44 +0000 2015","id":636193247665086464,"id_str":"636193247665086464","text":"RT
        @markdlim: #neglectedtropicaldiseases is also neglected by many researchers
        #opendata &amp; #datasharing essential for elimination http:\/\/t.\u2026","source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/iphone\" rel=\"nofollow\"\u003eTwitter
        for iPhone\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":234889634,"id_str":"234889634","name":"Arij
        Al Chawaf","screen_name":"TweetsFromArij","location":"Toronto, Ontario","description":"Mixing
        #business with #science | #drugdiscovery #research #openinnovation #digitaleconomy
        #bigdata news | Strategic Alliances @thesgconline | views my own","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":50,"friends_count":106,"listed_count":1,"created_at":"Thu
        Jan 06 20:43:48 +0000 2011","favourites_count":8,"utc_offset":-14400,"time_zone":"Eastern
        Time (US & Canada)","geo_enabled":false,"verified":false,"statuses_count":55,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/634331545118068736\/gN7gIfcK_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/634331545118068736\/gN7gIfcK_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/234889634\/1440106778","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"metadata":{"iso_language_code":"en","result_type":"recent"},"created_at":"Thu
        Jun 18 20:13:51 +0000 2015","id":611627909011247105,"id_str":"611627909011247105","text":"#neglectedtropicaldiseases
        is also neglected by many researchers #opendata &amp; #datasharing essential
        for elimination http:\/\/t.co\/QaaPEjTOJU","source":"\u003ca href=\"http:\/\/twitter.com\"
        rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null[...]
- request:
    method: post
    uri: https://api.twitter.com/1.1/statuses/update.json
    body:
      encoding: UTF-8
      string: status=Who+is+using+all+this+government+Taylor+Swift%3F+-+a+good+read+on+%23TaylorSwift+https%3A%2F%2Ft.co%2FL1i9bGXc85
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<CONSUMER_KEY>", oauth_nonce="1a9a9c2f19b43a4f81dad41f44edceb1",
        oauth_signature="dw%2BAnEukdBKNZA8dKFoQy%2BS1ZSI%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1440515286", oauth_token="<TOKEN>", oauth_version="1.0"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 25 Aug 2015 15:08:07 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - b1a55cdc2835637ce256c85157daca4b
      X-Response-Time:
      - '209'
      X-Transaction:
      - d4ef3f6bb2a979f9
      X-Tsa-Request-Body-Time:
      - '0'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"created_at":"Tue Aug 25 15:08:07 +0000 2015","id":636193342074814464,"id_str":"636193342074814464","text":"Who
        is using all this government Taylor Swift? - a good read on #TaylorSwift https:\/\/t.co\/rX88s5tmgb","source":"\u003ca
        href=\"http:\/\/pikesley.org\" rel=\"nofollow\"\u003eSamReadWriteBot\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":2886997847,"id_str":"2886997847","name":"6\u00b0
        of Wolverine","screen_name":"6_degrees_of","location":"Westchester","description":"Data
        from the Marvel API","url":"http:\/\/t.co\/Yl0r681cFh","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/Yl0r681cFh","expanded_url":"http:\/\/developer.marvel.com\/","display_url":"developer.marvel.com","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":1,"friends_count":0,"listed_count":3,"created_at":"Fri
        Nov 21 15:50:24 +0000 2014","favourites_count":0,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":195,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"000000","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/535834957164195840\/dZIE5JWt_normal.jpeg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/535834957164195840\/dZIE5JWt_normal.jpeg","profile_link_color":"FFCC4D","profile_sidebar_border_color":"000000","profile_sidebar_fill_color":"000000","profile_text_color":"000000","profile_use_background_image":false,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"quoted_status_id":636192568477384704,"quoted_status_id_str":"636192568477384704","quoted_status":{"created_at":"Tue
        Aug 25 15:05:02 +0000 2015","id":636192568477384704,"id_str":"636192568477384704","text":"Governments
        publish #opendata but who uses it? By @BirkbeckNews politics lecturer @benworthy1
        http:\/\/t.co\/zLWCv38YJ9 http:\/\/t.co\/LIAei0WnGg","source":"\u003ca href=\"http:\/\/bufferapp.com\"
        rel=\"nofollow\"\u003eBuffer\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":534255106,"id_str":"534255106","name":"Open
        Data Institute","screen_name":"ODIHQ","location":"London","description":"Knowledge
        for everyone.","url":"ht[...]
