---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&q=%2522open%2520data%2522&result_type=recent
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<CONSUMER_KEY>", oauth_nonce="e1a4e703820a522d3cf8d28c650523f7",
        oauth_signature="wNUrWHt4xwyTvdn0nbataDYyp%2Bc%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1439660068", oauth_token="<TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sat, 15 Aug 2015 17:34:28 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 2521a5dec0c3ea104d597419b9110270
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '179'
      X-Rate-Limit-Reset:
      - '1439660968'
      X-Response-Time:
      - '336'
      X-Transaction:
      - 803a2dc493d56242
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"statuses":[{"metadata":{"iso_language_code":"en","result_type":"recent"},"created_at":"Sat
        Aug 15 17:33:06 +0000 2015","id":632605951594524672,"id_str":"632605951594524672","text":"Open
        Data Platform Launch Sparks Heated Debate Among Competitors http:\/\/t.co\/25kg7Fxubl","source":"\u003ca
        href=\"http:\/\/dragplus.com\" rel=\"nofollow\"\u003eDragPlus\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":2359377894,"id_str":"2359377894","name":"Business
        Intell agen","screen_name":"businessintel_a","location":"","description":"businessintelligence,
        business intelligence, business,intelligence","url":"http:\/\/t.co\/DF9buMflNi","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/DF9buMflNi","expanded_url":"http:\/\/dragplus.com\/browse\/businessintelligence","display_url":"dragplus.com\/browse\/busines\u2026","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":1670,"friends_count":1959,"listed_count":55,"created_at":"Mon
        Feb 24 11:47:33 +0000 2014","favourites_count":0,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":5968,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/459292526579834880\/N4Y3UZPh_normal.jpeg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/459292526579834880\/N4Y3UZPh_normal.jpeg","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"http:\/\/t.co\/25kg7Fxubl","expanded_url":"http:\/\/dragplus.com\/post\/id\/31674031","display_url":"dragplus.com\/post\/id\/316740\u2026","indices":[65,87]}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},{"metadata":{"iso_language_code":"en","result_type":"recent"},"created_at":"Sat
        Aug 15 17:31:56 +0000 2015","id":632605658232172544,"id_str":"632605658232172544","text":"RT
        @RickKing16: Why you should use open data to hone your machine learning models
        http:\/\/t.co\/vvBkyh0AAN #machinelearning","source":"\u003ca href=\"http:\/\/twitter.com\/download\/android\"
        rel=\"nofollow\"\u003eTwitter for Android\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":865844984,"id_str":"865844984","name":"Jefferey
        Purvis","screen_name":"TragicStorm","location":"Lamont, Alberta","description":"Virtual
        Reality Enthusiasts","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":1123,"friends_count":2001,"listed_count":390,"created_at":"Sun
        Oct 07 06:06:51 +0000 2012","favourites_count":28748,"utc_offset":-21600,"time_zone":"Mountain
        Time (US & Canada)","geo_enabled":true,"verified":false,"statuses_count":24326,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"000000","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/531319411999666176\/8QhVEJ0J_normal.jpeg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/531319411999666176\/8QhVEJ0J_normal.jpeg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/865844984\/1435267726","profile_link_color":"3B94D9","profile_sidebar_border_color":"000000","profile_sidebar_fill_color":"000000","profile_text_color":"000000","profile_use_background_image":false,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"metadata":{"iso_language_code":"en","result_type":"recent"},"created_at":"Sat
        Aug 15 17:23:58 +0000 2015","id":632603653409538048,"id_str":"632603653409538048","text":"Why
        you should use open data to hone your machine learning models http:\/\/t.co\/vvBkyh0AAN
        #machinelearning","source":"\u003ca href=\"http:\/\/bufferapp.com\" rel=\"nofollow\"\u003eBuffer\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id"[...]
