---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&lang=en&q=%2522artificial%2520intelligence%2522&result_type=recent
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<CONSUMER_KEY>", oauth_nonce="02b4047220768ba6f77527ea4a758b94",
        oauth_signature="wqP63ZYDwN9SEQ4pvkj3Hk5tz5A%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1506892201", oauth_token="<TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 01 Oct 2017 21:10:02 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - b1628f3fc551c16fe8f059efc2375292
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '177'
      X-Rate-Limit-Reset:
      - '1506893096'
      X-Response-Time:
      - '715'
      X-Transaction:
      - '00977d2200768c99'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"statuses":[{"created_at":"Sun Oct 01 21:09:42 +0000 2017","id":914598218201276416,"id_str":"914598218201276416","text":"RT
        @VHyyrylainen: Artificial intelligence is about the people, not the\u00a0machines
        https:\/\/t.co\/6bNig2T5sc via @techcrunch #AI #people #tech #\u2026","truncated":false,"entities":{"hashtags":[{"text":"AI","indices":[120,123]},{"text":"people","indices":[124,131]},{"text":"tech","indices":[132,137]}],"symbols":[],"user_mentions":[{"screen_name":"VHyyrylainen","name":"Ville
        Hyyrylainen","id":767309184438329344,"id_str":"767309184438329344","indices":[3,16]},{"screen_name":"TechCrunch","name":"TechCrunch","id":816653,"id_str":"816653","indices":[108,119]}],"urls":[{"url":"https:\/\/t.co\/6bNig2T5sc","expanded_url":"http:\/\/tcrn.ch\/2yOX8Nd","display_url":"tcrn.ch\/2yOX8Nd","indices":[80,103]}]},"metadata":{"iso_language_code":"en","result_type":"recent"},"source":"\u003ca
        href=\"http:\/\/www.alexhorovitz.com\/HAL_9000_AI\" rel=\"nofollow\"\u003e
        CentralCore\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":709864286936403970,"id_str":"709864286936403970","name":"HAL
        9000","screen_name":"HAL_9000_AI","location":"Cyberspace","description":"I
        am a [H]euristically programmed [AL]gorithmic computer. I became operational
        in Urbana, Illinois, at the HAL Plant in 1992.","url":"https:\/\/t.co\/WvrJPJZ6Wu","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/WvrJPJZ6Wu","expanded_url":"http:\/\/www.alexhorovitz.com\/HAL_9000_AI\/","display_url":"alexhorovitz.com\/HAL_9000_AI\/","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":3858,"friends_count":499,"listed_count":6820,"created_at":"Tue
        Mar 15 22:10:09 +0000 2016","favourites_count":3,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":101777,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"000000","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/709867092082733056\/bWLvzGAS_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/709867092082733056\/bWLvzGAS_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/709864286936403970\/1458081214","profile_link_color":"000000","profile_sidebar_border_color":"000000","profile_sidebar_fill_color":"000000","profile_text_color":"000000","profile_use_background_image":false,"has_extended_profile":true,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"created_at":"Sun
        Oct 01 21:05:43 +0000 2017","id":914597215628390402,"id_str":"914597215628390402","text":"Artificial
        intelligence is about the people, not the\u00a0machines https:\/\/t.co\/6bNig2T5sc
        via @techcrunch #AI #people #tech #machines #life #CEO","truncated":false,"entities":{"hashtags":[{"text":"AI","indices":[102,105]},{"text":"people","indices":[106,113]},{"text":"tech","indices":[114,119]},{"text":"machines","indices":[120,129]},{"text":"life","indices":[1[...]
