---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&lang=en&q=%2522joe%2520root%2522&result_type=recent
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<CONSUMER_KEY>", oauth_nonce="34b35cd41f21d14eaf666fab80150393",
        oauth_signature="Sdkjd1VlYcHdZnU10myEIjrzNC0%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1506895227", oauth_token="<TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 01 Oct 2017 22:00:27 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 3305f0aa49374bfaa62b909f5c6cfb94
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '169'
      X-Rate-Limit-Reset:
      - '1506895619'
      X-Response-Time:
      - '407'
      X-Transaction:
      - 000d43aa00de4eda
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"statuses":[{"created_at":"Sun Oct 01 19:39:23 +0000 2017","id":914575490765246465,"id_str":"914575490765246465","text":"Ashes!
        https:\/\/t.co\/aeNkczkT8E Joe Root, Stuart Broad miss team-mate Jos Buttler''s
        Amsterdam stag do Westley was dropped by England when t\u2026","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/aeNkczkT8E","expanded_url":"http:\/\/ift.tt\/2fHStYC","display_url":"ift.tt\/2fHStYC","indices":[7,30]}]},"metadata":{"iso_language_code":"en","result_type":"recent"},"source":"\u003ca
        href=\"https:\/\/ifttt.com\" rel=\"nofollow\"\u003eIFTTT\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":24056366,"id_str":"24056366","name":"Charles
        Litster","screen_name":"ChasLitster","location":"Edinburgh","description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":2745,"friends_count":3463,"listed_count":85,"created_at":"Thu
        Mar 12 22:36:25 +0000 2009","favourites_count":1078,"utc_offset":3600,"time_zone":"Edinburgh","geo_enabled":true,"verified":false,"statuses_count":209366,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"BADFCD","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/71389454\/CharlesLitster.jpg","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/71389454\/CharlesLitster.jpg","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/791757458532397058\/kPbOD_ly_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/791757458532397058\/kPbOD_ly_normal.jpg","profile_link_color":"FF0000","profile_sidebar_border_color":"F2E195","profile_sidebar_fill_color":"FFF7CC","profile_text_color":"0C3E53","profile_use_background_image":true,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},{"created_at":"Sun
        Oct 01 18:23:11 +0000 2017","id":914556314277130240,"id_str":"914556314277130240","text":"RT
        @SkyCricket: Should Joe Root bat at No 3 for England against Australia this
        winter? Our #Ashes panel has its say: https:\/\/t.co\/CQRlXiC8p\u2026","truncated":false,"entities":{"hashtags":[{"text":"Ashes","indices":[91,97]}],"symbols":[],"user_mentions":[{"screen_name":"SkyCricket","name":"Sky
        Sports Cricket\ud83c\udfcf","id":293539344[...]
