---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&lang=en&q=everton%20AND%20(koeman%20OR%20goodison)&result_type=recent
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<CONSUMER_KEY>", oauth_nonce="d8464f63e52f776ddcb544761b0dd1a5",
        oauth_signature="BfF466no3%2FdJtGeZKGu8g39gt%2B0%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1506874625", oauth_token="<TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 01 Oct 2017 16:17:06 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 6e6370e71e43589e5592f1c1166e3461
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '174'
      X-Rate-Limit-Reset:
      - '1506875412'
      X-Response-Time:
      - '592'
      X-Transaction:
      - 000c4b4a00cbe8da
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"statuses":[{"created_at":"Sun Oct 01 16:16:46 +0000 2017","id":914524500879921153,"id_str":"914524500879921153","text":"Everton
        fans losing patience with Ronald Koeman after Burnley ... - https:\/\/t.co\/zpQ3OJsyVw
        #EFC","truncated":false,"entities":{"hashtags":[{"text":"EFC","indices":[92,96]}],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/zpQ3OJsyVw","expanded_url":"http:\/\/ift.tt\/2fA8k7G","display_url":"ift.tt\/2fA8k7G","indices":[68,91]}]},"metadata":{"iso_language_code":"en","result_type":"recent"},"source":"\u003ca
        href=\"https:\/\/ifttt.com\" rel=\"nofollow\"\u003eIFTTT\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":2235168398,"id_str":"2235168398","name":"Everton
        News","screen_name":"Everton_NewsUK","location":"","description":"The latest
        Everton News from @FootballNDaily","url":"https:\/\/t.co\/8D6lmMpAqw","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/8D6lmMpAqw","expanded_url":"http:\/\/www.footballnewsdaily.net\/everton\/","display_url":"footballnewsdaily.net\/everton\/","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":2262,"friends_count":1491,"listed_count":23,"created_at":"Sat
        Dec 07 23:05:51 +0000 2013","favourites_count":0,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":25806,"lang":"en-gb","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/770966909013618692\/UcGB4x7p_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/770966909013618692\/UcGB4x7p_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/2235168398\/1472647742","profile_link_color":"1DA1F2","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},{"created_at":"Sun
        Oct 01 16:16:40 +0000 2017","id":914524475982573568,"id_str":"914524475982573568","text":"RT
        @SomeEvertonFan: Ronald Koeman struggling.\nCarlo Ancelotti available.\nTwo
        weeks break.\n\nWelcome to Everton, Neil Warnock","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"SomeEvertonFan","name":"SomeEvertonFan","id":527744690,"id_str":"527744690","indices":[3,18]}],"urls":[]},"metadata":{"iso_langua[...]
