---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&q=%2522open%2520data%2522&result_type=recent
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<CONSUMER_KEY>", oauth_nonce="ce69a4290aa5d740d832dd7d3369757c",
        oauth_signature="m0FQoezivohHhjCbKUhJaUC%2BcFU%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1439501364", oauth_token="<TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 13 Aug 2015 21:29:24 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 418e0512303442cdbf30bb0db6a57b43
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '177'
      X-Rate-Limit-Reset:
      - '1439502261'
      X-Response-Time:
      - '358'
      X-Transaction:
      - 56250d396d785c55
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"statuses":[{"metadata":{"iso_language_code":"sl","result_type":"recent"},"created_at":"Thu
        Aug 13 21:28:50 +0000 2015","id":631940500744970241,"id_str":"631940500744970241","text":"Open
        Data Hackathon 6-7 \u043e\u043a\u0442\u044f\u0431\u0440\u044f","source":"\u003ca
        href=\"http:\/\/ifttt.com\" rel=\"nofollow\"\u003eIFTTT\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":1259203735,"id_str":"1259203735","name":"FultzJoyce","screen_name":"FultzJoyce","location":"","description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":87,"friends_count":14,"listed_count":7,"created_at":"Mon
        Mar 11 11:10:04 +0000 2013","favourites_count":0,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":139631,"lang":"id","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/3618282990\/ec8107a101ee6e743e63238d14b57d86_normal.jpeg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/3618282990\/ec8107a101ee6e743e63238d14b57d86_normal.jpeg","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[]},"favorited":false,"retweeted":false,"lang":"sl"},{"metadata":{"iso_language_code":"en","result_type":"recent"},"created_at":"Thu
        Aug 13 21:28:30 +0000 2015","id":631940415696977920,"id_str":"631940415696977920","text":"RT
        @OpDeathEatersUS: #OpDeathEaters Lack of open data helps keep this \"unclear\".
        Inexcusable in this day and age. https:\/\/t.co\/X3vRpESELl","source":"\u003ca
        href=\"http:\/\/twitter.com\" rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":266490351,"id_str":"266490351","name":"Paul
        Peace InshAllah","screen_name":"Oatcake1967","location":"","description":"Tweeting
        for the little guy. #Peace & #Enlightenment #InshaAllah #OpDeathEaters #OpSafeWinter
        #OpTigerSafe #OpSeaWorld #AnonymousIndigenous #IndigenousRising","url":"http:\/\/t.co\/nL3XVSYtBf","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/nL3XVSYtBf","expanded_url":"http:\/\/page.is\/paul-peace-inshallah","display_url":"page.is\/paul-peace-ins\u2026","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":3566,"friends_count":3617,"listed_count":206,"created_at":"Tue
        Mar 15 09:36:55 +0000 2011","favourites_count":33002,"utc_offset":3600,"time_zone":"Dublin","geo_enabled":false,"verified":false,"statuses_count":189277,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"642D8B","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme10\/bg.gif","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme10\/bg.gif","profile_background_tile":true,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/454305397906481152\/LeR-3h6y_normal.jpeg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/454305397906481152\/LeR-3h6y_normal.jpeg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/266490351\/1425486498","profile_link_color":"FF0000","profile_sidebar_border_color":"65B0DA","profile_sidebar_fill_color":"7AC3EE","profile_text_color":"3D1957","profile_use_background_image":true,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"metadata":{"iso_language_code":"en","result_type":"recent"},"created_at":"Thu
        Aug 13 18:19:55 +0000 2015","id":631892955800858624,"id_str":"631892955800858624","text":"#OpDeathEaters
        Lack of open data helps keep this \"unclear\". Inexcusable in this day and
        age. https:\/\/t.co\/X3vRpESELl","source":"\u003ca href=\"http:\/\/twitter.com\"
        rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":2951930285,"id_str":"2951930285","name":"OpDeathEatersUS","screen_name":"OpDeathEatersUS","location":"USA","description":"Welcome
        http:\/\/t.co\/1FxmqQDJib #OpDeathEaters","url":"http:\/\/t.co\/4Djr1mYN63","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/4Djr1mYN63","expanded_url":"http:\/\/youranoncentral.tumblr.com\/","display_url":"youranoncentral.tumblr.com","indices":[0,22]}]},"description":{"urls":[{"url":"http:\/\/t.co\/1FxmqQDJib","expanded_url":"http:\/\/pastebin.com\/ND1mq57u","display_url":"pastebin.com\/ND1mq57u","indices":[8,30]}]}},"protected":false,"followers_count":2423,"friends_count":255,"listed_count":83,"cr[...]
