---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&lang=en&q=%2522open%2520data%2522&result_type=recent
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<CONSUMER_KEY>", oauth_nonce="bad8f5ae4a180393cab602a7b3cd8df5",
        oauth_signature="PQRk7dOOiBFmXB0WJ2p08yfllVY%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1446722990", oauth_token="<TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 05 Nov 2015 11:29:51 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 320de9b7502623d552bed16a84ff933e
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '175'
      X-Rate-Limit-Reset:
      - '1446723112'
      X-Response-Time:
      - '321'
      X-Transaction:
      - 478507cd6c3a5613
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"statuses":[{"metadata":{"iso_language_code":"en","result_type":"recent"},"created_at":"Thu
        Nov 05 11:28:17 +0000 2015","id":662229946924953600,"id_str":"662229946924953600","text":"RT
        @MattHancockMP: There''s no such thing as Government data, just citizens''
        data: my speech on data-driven govt https:\/\/t.co\/wuKD922Wuk htt\u2026","source":"\u003ca
        href=\"http:\/\/twitter.com\/#!\/download\/ipad\" rel=\"nofollow\"\u003eTwitter
        for iPad\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":63138051,"id_str":"63138051","name":"Stuart
        Rock","screen_name":"stuart_rock","location":"London","description":"Currently
        working with @BISgovuk as editor of Business is GREAT. Founding editor @real_business","url":"http:\/\/t.co\/EDDt7R898b","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/EDDt7R898b","expanded_url":"http:\/\/www.greatbusiness.gov.uk","display_url":"greatbusiness.gov.uk","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":2928,"friends_count":1902,"listed_count":159,"created_at":"Wed
        Aug 05 13:53:51 +0000 2009","favourites_count":367,"utc_offset":0,"time_zone":"London","geo_enabled":true,"verified":false,"statuses_count":12123,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/2240266289\/Stuart_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/2240266289\/Stuart_normal.jpg","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"metadata":{"iso_language_code":"en","result_type":"recent"},"created_at":"Tue
        Nov 03 16:22:41 +0000 2015","id":661579260587569153,"id_str":"661579260587569153","text":"There''s
        no such thing as Government data, just citizens'' data: my speech on data-driven
        govt https:\/\/t.co\/wuKD922Wuk https:\/\/t.co\/J0pG0iIwfV","source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/iphone\" rel=\"nofollow\"\u003eTwitter
        for iPhone\u003c\/a\u003e","truncated":false[...]
