---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&q=%2522open%2520data%2522&result_type=recent
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<CONSUMER_KEY>", oauth_nonce="cfab95d7a6b816246428acc7d0606c66",
        oauth_signature="hWI9vfn1S9zsoSujgTVxDb8WcLU%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1440096121", oauth_token="<TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 20 Aug 2015 18:42:01 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - c024a377f195281acd259cb50ffe10c9
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '175'
      X-Rate-Limit-Reset:
      - '1440096606'
      X-Response-Time:
      - '336'
      X-Transaction:
      - cf9d0d45a0d31eb4
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"statuses":[{"metadata":{"iso_language_code":"de","result_type":"recent"},"created_at":"Thu
        Aug 20 18:39:18 +0000 2015","id":634434550018478080,"id_str":"634434550018478080","text":"RT
        @govdata_de: Hamburg pr\u00fcft die Umsetzung von Ideen, die im Rahmen des
        open data Aktionsplans eingereicht wurden http:\/\/t.co\/4VwOVciUN4","source":"\u003ca
        href=\"http:\/\/twitter.com\/download\/iphone\" rel=\"nofollow\"\u003eTwitter
        for iPhone\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":3020083199,"id_str":"3020083199","name":"Jugend
        hackt Nord","screen_name":"jhacktnord","location":"Hamburg, Germany","description":"Der
        regionale Ableger von @jugendhackt im Norden. Wir freuen uns auf euch!","url":"http:\/\/t.co\/c0PkrmBWPw","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/c0PkrmBWPw","expanded_url":"http:\/\/www.jugendhackt.de","display_url":"jugendhackt.de","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":68,"friends_count":11,"listed_count":2,"created_at":"Thu
        Feb 05 16:45:07 +0000 2015","favourites_count":7,"utc_offset":7200,"time_zone":"Belgrade","geo_enabled":false,"verified":false,"statuses_count":19,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":true,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/619440040171732992\/jadVFJAV_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/619440040171732992\/jadVFJAV_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/3020083199\/1436520766","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"metadata":{"iso_language_code":"de","result_type":"recent"},"created_at":"Thu
        Aug 20 18:27:06 +0000 2015","id":634431477690855424,"id_str":"634431477690855424","text":"Hamburg
        pr\u00fcft die Umsetzung von Ideen, die im Rahmen des open data Aktionsplans
        eingereicht wurden http:\/\/t.co\/4VwOVciUN4","source":"\u003ca href=\"http:\/\/twitter.com\/download\/android\"
        rel=\"nofollow\"\u003eTwitter for Android\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":[...]
