---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&q=%2522open%2520data%2522&result_type=recent
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<CONSUMER_KEY>", oauth_nonce="32e5b2a569f44e2f39edfa713e9655dd",
        oauth_signature="Ih1kKwn%2BoNpQcLjjyMP7s%2Bp1Ouo%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1439924592", oauth_token="<TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 18 Aug 2015 19:03:11 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - bfa0933b600f26efce1c23f35094100a
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '179'
      X-Rate-Limit-Reset:
      - '1439925491'
      X-Response-Time:
      - '438'
      X-Transaction:
      - 3071bcb0f5c3815e
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"statuses":[{"metadata":{"iso_language_code":"en","result_type":"recent"},"created_at":"Tue
        Aug 18 19:02:42 +0000 2015","id":633715662217736192,"id_str":"633715662217736192","text":"RT
        IBMBluemix: .thinkdataworks''s platform namaraio increases access to clean,
        open data from all levels of government \u2026","source":"\u003ca href=\"http:\/\/ifttt.com\"
        rel=\"nofollow\"\u003eIFTTT\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":1269959696,"id_str":"1269959696","name":"Veronica
        Chac\u00f3n","screen_name":"VeronicaChaconB","location":"","description":"#Internet
        of Things. My tweets are my own","url":"http:\/\/t.co\/qXJXRXfbfS","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/qXJXRXfbfS","expanded_url":"http:\/\/www.ibm.com\/connect\/ibm\/es\/es\/resources\/veronica_chacon\/","display_url":"ibm.com\/connect\/ibm\/es\u2026","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":117,"friends_count":163,"listed_count":18,"created_at":"Fri
        Mar 15 15:17:30 +0000 2013","favourites_count":1,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":239,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/428857784327622656\/yoHKUpBJ_normal.png","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/428857784327622656\/yoHKUpBJ_normal.png","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[]},"favorited":false,"retweeted":false,"lang":"en"},{"metadata":{"iso_language_code":"en","result_type":"recent"},"created_at":"Tue
        Aug 18 19:01:31 +0000 2015","id":633715363230941184,"id_str":"633715363230941184","text":".@thinkdataworks''s
        platform @namaraio increases access to clean, open data from all levels of
        government http:\/\/t.co\/2y4tEdCIJY #bluemix","source":"\u003ca href=\"http:\/\/www.hootsuite.com\"
        rel=\"nofollow\"\u003eHootsuite\u003c\/a\u003e","truncated":false,"in_reply_to_stat[...]
