---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&q=%2522open%2520data%2522&result_type=recent
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<CONSUMER_KEY>", oauth_nonce="aed41a244856a3faad605f0b4322e5ce",
        oauth_signature="1yxrvcB5MjCHhMVhWdnFXTe8vlM%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1440424560", oauth_token="<TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Mon, 24 Aug 2015 13:56:00 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - bbcb890c82146d0a6ee602ce5769dfd9
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '161'
      X-Rate-Limit-Reset:
      - '1440425096'
      X-Response-Time:
      - '612'
      X-Transaction:
      - 156ce97cf2904408
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"statuses":[{"metadata":{"iso_language_code":"en","result_type":"recent"},"created_at":"Mon
        Aug 24 13:55:00 +0000 2015","id":635812554573385728,"id_str":"635812554573385728","text":"RT
        @OKFN: Open data #businesses - an oxymoron or a new model? Read about on the  #opendata
        handbook value stories section http:\/\/t.co\/5z5mS\u2026","source":"\u003ca
        href=\"http:\/\/tweetfull.com\" rel=\"nofollow\"\u003eTweet Full\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":29292473,"id_str":"29292473","name":"Clifford
        McDowell","screen_name":"cliffordious","location":"London","description":"Founder
        of Doorda and open data guru. Loves analysis and tweaking the nose of bad
        data. #OpenData #OpenGov\n\n\nLinkedin: https:\/\/t.co\/jEKlmlCwuD","url":"http:\/\/t.co\/2yJ7o9yoEo","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/2yJ7o9yoEo","expanded_url":"http:\/\/www.doorda.com","display_url":"doorda.com","indices":[0,22]}]},"description":{"urls":[{"url":"https:\/\/t.co\/jEKlmlCwuD","expanded_url":"https:\/\/uk.linkedin.com\/in\/cliffordmcdowell","display_url":"uk.linkedin.com\/in\/cliffordmcd\u2026","indices":[119,142]}]}},"protected":false,"followers_count":1805,"friends_count":2001,"listed_count":620,"created_at":"Mon
        Apr 06 21:02:11 +0000 2009","favourites_count":9645,"utc_offset":3600,"time_zone":"London","geo_enabled":false,"verified":false,"statuses_count":10139,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"000000","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/560816705501290498\/_9Z_5T_9_normal.jpeg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/560816705501290498\/_9Z_5T_9_normal.jpeg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/29292473\/1422544067","profile_link_color":"4A913C","profile_sidebar_border_color":"000000","profile_sidebar_fill_color":"000000","profile_text_color":"000000","profile_use_background_image":false,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"metadata":{"iso_language_code":"en","result_type":"recent"},"created_at":"Mon
        Aug 24 11:49:11 +0000 2015","id":635780892275949568,"id_str":"635780892275949568","text":"Open
        data #businesses - an oxymoron or a new model? Read about on the  #opendata
        handbook value stories section http:\/\/t.co\/5z5mSKsAUX","source":"\u003ca
        href=\"http:\/\/twitter.com\" rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_rep[...]
