---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=100&q=%2522open%2520data%2522&result_type=recent
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<CONSUMER_KEY>", oauth_nonce="63e3a6eee63faa952d42582d6803394b",
        oauth_signature="KEBGoGZj1ZgSRMsVwXPzYHn831c%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1440534058", oauth_token="<TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 25 Aug 2015 20:20:59 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 26ff0571fa9eed6d8de5abc0619a4dcd
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '175'
      X-Rate-Limit-Reset:
      - '1440534782'
      X-Response-Time:
      - '397'
      X-Transaction:
      - 7997a94e81e4d607
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: ASCII-8BIT
      string: '{"statuses":[{"metadata":{"iso_language_code":"es","result_type":"recent"},"created_at":"Tue
        Aug 25 20:20:31 +0000 2015","id":636271961937719296,"id_str":"636271961937719296","text":"\u00bfQuieres
        que tu pa\u00eds figure en el Global #OpenData Index 2015? Sube sus datos
        abiertos aqu\u00ed hasta el 20\/09: http:\/\/t.co\/wd3PP9gD0v","source":"\u003ca
        href=\"http:\/\/www.hootsuite.com\" rel=\"nofollow\"\u003eHootsuite\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":1413563167,"id_str":"1413563167","name":"appcivico
        ","screen_name":"appcivico","location":"America Latina","description":"Fondo
        Acelerador de Innovaciones Civicas \/  Civic Innovation Accelerator Fund","url":"http:\/\/t.co\/CB3B645wOa","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/CB3B645wOa","expanded_url":"http:\/\/appcivico.net","display_url":"appcivico.net","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":682,"friends_count":462,"listed_count":57,"created_at":"Wed
        May 08 18:38:15 +0000 2013","favourites_count":224,"utc_offset":-10800,"time_zone":"Atlantic
        Time (Canada)","geo_enabled":false,"verified":false,"statuses_count":1620,"lang":"es","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/378800000007526051\/21c4861925e204a17be2a20b717d88f9_normal.jpeg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/378800000007526051\/21c4861925e204a17be2a20b717d88f9_normal.jpeg","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":false,"default_profile":true,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[{"text":"OpenData","indices":[41,50]}],"symbols":[],"user_mentions":[],"urls":[{"url":"http:\/\/t.co\/wd3PP9gD0v","expanded_url":"http:\/\/ow.ly\/Rl7Me","display_url":"ow.ly\/Rl7Me","indices":[108,130]}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"es"},{"metadata":{"iso_language_code":"en","result_type":"recent"},"created_at":"Tue
        Aug 25 20:19:09 +0000 2015","id":636271616083685377,"id_str":"636271616083685377","text":"RT
        @KeeganNYC: In 2011, the NYPD stopped young black men more times than there
        are young black men in NYC: http:\/\/t.co\/4T3WUSvU6J http:\/\/t.\u2026","source":"\u003ca
        href=\"http:\/\/twitter.com\" rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","truncated":false,"in_[...]
